body{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 700;
}

h2, h3, h4 {
    font-weight: 600;
}

strong{
    font-weight: 600;
}

/* ------ Spinner Caricamento ------- */

#loader-wrapper {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

#loader {
 display: block;
 position: fixed;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 z-index: 2001;
}
 
#loader-wrapper .loader-section {
 position: fixed;
 top: 0;
 width: 51%;
 height: 100%;
 background: #2E2D2C;
 z-index: 2000;
}
 
#loader-wrapper .loader-section.section-left {
 left: 0;
 transition: .6s;
}
 
#loader-wrapper .loader-section.section-right {
 right: 0;
 transition: .6s;
}

.loaded #loader-wrapper .loader-section.section-left {
 -webkit-transform: translateX(-100%);
 -ms-transform: translateX(-100%);
 transform: translateX(-100%);
}
 
.loaded #loader-wrapper .loader-section.section-right {
 -webkit-transform: translateX(100%);
 -ms-transform: translateX(100%);
 transform: translateX(100%);
}

.loaded #loader {
 opacity: 0;
}

.loaded #loader-wrapper {
 visibility: hidden;
}

.eye {
  margin: 4em auto;
  width: 240px;
  height: 240px;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  background: rgba(0, 255, 20, 0.4);
  border-radius: 100% 0 100% 0;
  animation: spin 10s linear forwards infinite;
}
.eye:before {
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 0 100% 0 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}
.eye > .eye {
  margin: 0;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* ------ MenuHamburger ------- */

.icon {
    cursor: pointer;
    width: 80px;
    height: 80px;
    float:right;
    margin-right: 10px;
}

.menu {
    width: 40px;
    height: 3px;
    background-color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}


.menu:after, .menu:before {
   content: '';
   position: absolute;
   background-color: #fff;
   transition: .3s;
}

.icon:hover .menu:after, .icon:hover .menu:before {
  width: 40px;
}

.menu:after {
    top: 12px;
    width: 30px;
    height: 3px; 
    right: 0px;
}

.menu:before {
    top: -12px;
    width: 25px;
    height: 3px; 
    right: 0px;
}

.list {
    height: 0px;
    list-style: none;
    margin-top: 0;
    position: absolute; 
    right: 0px;
}

.list li{
    background-color: rgba(46, 45, 44, 1);
    color: #fff;
    padding: 40px 30px;
    width: 200px;
    text-align: center;
    display: none;
    transition: 1s;
    border-left: 1px solid rgba(0, 255, 20, 1);
}


.list li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    z-index: 10;
}

.list li a:before {
position: absolute;
top: 50%;
left: 50%;
width: 100px;
height: 100px;
border: 7px solid rgba(0, 255, 20, 0.4);
border-radius: 50%;
content: '';
opacity: 0;
-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
-moz-transition: -moz-transform 0.3s, opacity 0.3s;
transition: transform 0.3s, opacity 0.3s;
-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
transform: translateX(-50%) translateY(-50%) scale(0.2);
z-index: 9;
}

.list li a:after {
position: absolute;
top: 50%;
left: 50%;
width: 100px;
height: 100px;
border: 3px solid rgba(0, 255, 20, 0.5);
border-radius: 50%;
content: '';
opacity: 0;
-webkit-transition: -webkit-transform 0.5s, opacity 0.3s;
-moz-transition: -moz-transform 0.5s, opacity 0.3s;
transition: transform 0.5s, opacity 0.3s;
-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
transform: translateX(-50%) translateY(-50%) scale(0.2);
z-index: 9;
}

.list li:hover a:after {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.5);
   -moz-transform: translateX(-50%) translateY(-50%) scale(0.7);
   transform: translateX(-50%) translateY(-50%) scale(0.7);
}

.list li:hover a:before {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.45);
   -moz-transform: translateX(-50%) translateY(-50%) scale(0.45);
   transform: translateX(-50%) translateY(-50%) scale(0.45);
}

.icon.active .menu {
    background-color: rgba(0,0,0,0);
}

.list.active li{
    height: auto;
    display: block;
}

.icon.active .menu:after {
    transform: rotate(-45deg);
    top: 0px;
    width: 40px;
}

.icon.active .menu:before {
    transform: rotate(45deg);
    top: 0px;
    width: 40px;
}

/* ------ ANIMAZIONI MENU (duration- delay) ------- */

.list.active {
   -webkit-perspective: 500px;
   perspective: 500px;
}

.list.active li{
   transform-origin: top center;
}

/* ------ ANIMAZIONE ITEM(1) ------- */

.list.active li:nth-child(1) {
   opacity: 0;
   -webkit-animation: item1 .4s 1 forwards ease-in-out;
   -moz-animation: item1 .4s 1 forwards ease-in-out;
   -o-animation: item1 .4s 1 forwards ease-in-out;
   animation: item1 .4s 1 forwards ease-in-out;
}

@-webkit-keyframes item1 {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    
    60% {
        transform: rotateX(50deg);
    }
    
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

/* ------ ANIMAZIONE ITEM(2) ------- */

.list.active li:nth-child(2) {
   opacity: 0;
   -webkit-animation: item2 .4s 1 .2s forwards ease-in-out;
   -moz-animation: item2 .4s 1 .2s forwards ease-in-out;
   -o-animation: item2 .4s 1 .2s forwards ease-in-out;
   animation: item2 .4s 1 .2s forwards ease-in-out;
}

@-webkit-keyframes item2 {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    
    60% {
        transform: rotateX(50deg);
    }
    
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

/* ------ ANIMAZIONE ITEM(3) ------- */

.list.active li:nth-child(3) {
   opacity: 0;
   -webkit-animation: item3 .4s 1 .4s forwards ease-in-out;
   -moz-animation: item3 .4s 1 .4s forwards ease-in-out;
   -o-animation: item3 .4s 1 .4s forwards ease-in-out;
   animation: item3 .4s 1 .4s forwards ease-in-out;
}

@-webkit-keyframes item3 {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    
    60% {
        transform: rotateX(50deg);
    }
    
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

/* ------ ANIMAZIONE ITEM(4) ------- */

.list.active li:nth-child(4) {
   opacity: 0;
   -webkit-animation: item4 .4s 1 .6s forwards ease-in-out;
   -moz-animation: item4 .4s 1 .6s forwards ease-in-out;
   -o-animation: item4 .4s 1 .6s forwards ease-in-out;
   animation: item4 .4s 1 .6s forwards ease-in-out;
}

@-webkit-keyframes item4 {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    
    60% {
        transform: rotateX(50deg);
    }
    
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

/* ------ ANIMAZIONE ITEM(5) ------- */

.list.active li:nth-child(5) {
   opacity: 0;
   -webkit-animation: item4 .4s 1 .8s forwards ease-in-out;
   -moz-animation: item4 .4s 1 .8s forwards ease-in-out;
   -o-animation: item4 .4s 1 .8s forwards ease-in-out;
   animation: item4 .4s 1 .8s forwards ease-in-out;
}

@-webkit-keyframes item4 {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    
    60% {
        transform: rotateX(50deg);
    }
    
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

/* ------ Nav ------- */

.header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}


.nav {
    width: 100%;
    background-color: rgba(46, 45, 44, 1);
}


.nav__logo {
    position: relative;
    color: white;
    float: left;
    padding: 10px 30px;
    top: 18px;
    font-weight: 600;
}

/* ------ Social ------- */

.icon-bar {
  position: fixed;
  bottom: 4%;
  right: 0;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 13px;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 32px;
}

.icon-bar a:hover {
  background-color: #000;
  color: rgba(0, 255, 20, 1);
}

.facebook {
  background: #2E2D2C;
  color: white;
}

.instagram {
  background: #2E2D2C;
  color: white;
}

.icon-bar-len {
  position: relative;

}

.icon-bar-len a {
  text-align: center;
  padding: 13px;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 32px;
}

.icon-bar-len a:hover {
  background-color: #000;
  color: rgba(0, 255, 20, 1);
}

.icon-bar-len .facebook {
  background: #2E2D2C;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.icon-bar-len .instagram {
  background: #2E2D2C;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
}

/* ------ Cover ------- */

.cover {
    height: 700px;
    padding-top: 120px;
    margin-bottom: 40px;
}

.cover__image {
    float: right;
    right: 0;
    height: 700px;
    width: 80%;
}

.cover__image__bg {
    width: 100%;
    height: 100%;
    background: url(img/Cover.jpg);
    background-size: cover;
    background-position: bottom;
}

.cover__title {
    position: absolute;
    background-color: #fff;
    max-width: 40%;
    top: 60%;
    transform: translate(0,-50%);
    padding: 50px 30px;
    z-index: 0;
}

.fixed{
    position: fixed;
    left: 0;
    top: 50%;
}

.fixed img{
    width: 100px;
}

/* ------ Section1 ------- */

.section {
    background-color: #2E2D2C;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}

#sectionlen {
    height: 560px;
}

.section__container{
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.section__container li{
    display: inline-block;
}

.section__cap {
    box-sizing: border-box;
    width: 10%;
    height:100%;
    margin: auto 0;
    float:left;
}

.section__cap p:nth-child(3){
    position: relative;
    color: #fff;
    transform: rotate(-90deg);
    bottom: -220px;
}

.section__cap p:nth-child(2){
    position: relative;
    transform: rotate(-90deg);
    bottom: -120px;
    border-bottom: 1px solid #fff;
}

.section__cap p:nth-child(1){
    position: relative;
    color: #fff;
    top: 40px;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}

.section__img {
    box-sizing: border-box;
    width: 44%;
    height: 100%;
    float:left;
}

.section__img .img {
    position: relative;
    max-width: 450px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url(img/geo_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#lenity {
    box-sizing: border-box;
    width: 44%;
    height: 100%;
    float:left;
}

#lenity .imgup {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}


#lenity2 img {
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
}


#lenity img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    width: 210px;
    margin-bottom: 20px;
    display: block;
    transition: .6s;
}

#lenity2 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
}

#sez1Len {
    height: auto;
}

#lenity img:hover {
    background-color: #fff;
    width: 220px;
    border-radius: 15px; 
}

.section__text {
    box-sizing: border-box;
    padding: 30px 30px;
    color: #fff;
    width: 44%;
    height: 100%;
    float:left;
}

.section__text .break {
    box-sizing: border-box;
    border-bottom: 2px solid rgba(0, 255, 20, 0.7);
    width: 40px;
}

.section__text h3 {
    margin-top: 40px;
}

/* ------ Section2 ------- */

.section-2 {
    background-color: #fff;
    width: 100%;
    height: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.black {
color: #000000;
}

#black {
color: #000000;
}

#b_black {
border-bottom: 1px solid #000;
}

.section__img .img-2 {
    position: relative;
    max-width: 450px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url(img/geo_2_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* ------ Section3 ------- */

.section-3 {
    background-color: #2E2D2C;
    width: 100%;
    height: 600px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.email2 p{
    text-align: center;
    font-size: 1.2em;
    color: #fff;
}

.email2 {
    background-color: #2E2D2C;
    margin-top: -30px;
}

#btn-draw {
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  color: #fff;
  border-bottom: 2px solid rgba(0, 255, 20, 1);
  cursor: pointer;
  overflow: hidden;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  margin-bottom: 80px;
  margin-top: 30px;
}

#btn-draw:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 2px;
  background: rgba(0, 255, 20, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition-delay: 0.6s;
}
#btn-draw > span {
  position: relative;
  display: block;
  padding: 0.5em;
  color: inherit;
}
#btn-draw > span:before, #btn-draw > span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 255, 20, 1);
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
#btn-draw > span:before {
  height: 2px;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  transition-delay: 0.4s;
}
#btn-draw > span:after {
  height: 100%;
  width: 2px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  transition-delay: 0.2s;
}
#btn-draw:hover:after, #btn-draw:hover > span:before, #btn-draw:hover > span:after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
#btn-draw:hover:after {
  transition-delay: 0s;
}
#btn-draw:hover > span:before {
  transition-delay: 0.2s;
}
#btn-draw:hover > span:after {
  transition-delay: 0.4s;
}
#btn-draw:hover {
  color: #2E2D2C;
  background-color: #fff;
  transition-delay: 0.6s;
}

.section__portfolio {
    box-sizing: border-box;
    padding: 30px 30px;
    color: #fff;
    width: 85%;
    height: 100%;
    float:left;
}

.section__portfolio .grid {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 150px;
}

.grid > li {
    list-style: none;
    width: 200px;
    height: 200px;
    background-color: #000;
    position: absolute;
    transform: rotate(45deg);
    margin: -100px;
    overflow: hidden;
    opacity: .5;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    }

.grid > li:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 10;
    }

.grid__img__1 {
    top: 0px;
    left: 0px;
    }

.grid__img__2 {
    bottom: 0px;
    left: 25%;
    }

.grid__img__3 {
    top: 0px;
    left: 50%;
    }

.grid__img__4 {
    bottom: 0px;
    left: 75%;
    }

.grid__img__5 {
    top: 0px;
    left: 100%;
    }

.bg {
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-45deg) scale(1.45);
    -moz-transform: rotate(-45deg) scale(1.45);
    -o-transform: rotate(-45deg) scale(1.45);
    transform: rotate(-45deg) scale(1.45);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.bg:hover {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.45);
    -moz-transform: scale(1.45);
    -o-transform: scale(1.45);
    transform:  scale(1.45);
}


.grid__img__1 .bg {
    background: url(img/bg1.jpg);
    background-size: cover;
    -webkit-transform: rotate(-45deg) scale(1.2);
    -moz-transform: rotate(-45deg) scale(1.2);
    -o-transform: rotate(-45deg) scale(1.2);
    transform: rotate(-45deg) scale(1.2);
    }

.grid__img__1 .bg:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
   }

.grid__img__2 .bg {
    background: url(img/bg2.jpg);
    background-size: cover;
    }

.grid__img__3 .bg {
    background: url(img/bg3.jpg);
    background-size: cover;
    }

.grid__img__4 .bg {
    background: url(img/bg4.jpg);
    background-size: cover;
    }

.grid__img__5 .bg {
    background: url(img/bg5.jpg);
    background-size: cover;
    }


/* ------ Section4 ------- */

.section-4 {
    background-color: #fff;
    width: 100%;
    height: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.black {
color: #000000;
}

#black {
color: #000000;
}

#b_black {
border-bottom: 1px solid #000;
}

.section__testimonial {
    box-sizing: border-box;
    padding: 30px 30px;
    color: #fff;
    width: 85%;
    height: 100%;
    float:left;
}

.test{
    width: 30%;
    height: 100%;
    position: relative;
    float: left;
}

.test .img{
    border-radius: 76px;
    width: 150px;
    height: 150px;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.test .cit{
    color: #000;
    font-size: 1.5em;
    text-align: center;
    width: 70%;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.test .name{
    text-align: center;
    color: #000;
    font-weight: 700;
    width: 70%;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.test2 .img{
    background: url(img/test1.jpg);
    background-size: cover;
}

.test3 .img{
    background: url(img/test2.jpg);
    background-size: cover;
}

.test1 .img{
    background: url(img/test3.jpg);
    background-size: cover;
}

/* ------ Footer ------- */

.footer{
    text-align: center;
}

.footer p:nth-child(2){
    bottom: 8px;
    position: relative;
}


.line{
    border-top: .5px solid #000;
    position: relative;
    width: 80%;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.email p{
    text-align: center;
    font-size: 1.2em;
}

.btn-draw {
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  color: #2E2D2C;
  border-bottom: 2px solid #2E2D2C;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  margin-bottom: 70px;
  margin-top: 20px;
}

.btn-draw:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 2px;
  background: #2E2D2C;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition-delay: 0.6s;
}
.btn-draw > span {
  position: relative;
  display: block;
  padding: 0.5em;
  color: inherit;
}
.btn-draw > span:before, .btn-draw > span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: #2E2D2C;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.btn-draw > span:before {
  height: 2px;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  transition-delay: 0.4s;
}
.btn-draw > span:after {
  height: 100%;
  width: 2px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  transition-delay: 0.2s;
}
.btn-draw:hover:after, .btn-draw:hover > span:before, .btn-draw:hover > span:after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.btn-draw:hover:after {
  transition-delay: 0s;
}
.btn-draw:hover > span:before {
  transition-delay: 0.2s;
}
.btn-draw:hover > span:after {
  transition-delay: 0.4s;
}
.btn-draw:hover {
  color: rgba(0, 255, 20, 1);
  background-color: #2E2D2C;
  transition-delay: 0.6s;
}



/* ------Pulizia della proprietà Float con Clearfix ------- */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */



